/* Base styles for container */
.container-contact {
    margin: 30px 100px 100px 100px;
    flex: 1;
    /* Ensures it grows to fill space */
}

/* Responsive styles for medium screens */
@media screen and (max-width: 768px) {
    .container-contact {
        margin: 50px;
    }
}

/* Responsive styles for small screens */
@media (max-width: 480px) {
    .container-contact {
        padding: 10px;
        margin: 10px;
    }

    .container-contact p {
        font-size: 1.0rem;
    }
}

/* Additional styles for footer placement */
.contactus-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensures full viewport height */
}

footer {
    background-color: #f8f9fa;
    /* Example styling */
    padding: 10px;
    text-align: center;
    margin-top: auto;
    /* Pushes footer to bottom */
}