.journal-container{
    padding: 40px 40px 40px 40px;
}

 .journal-section p{
    font-size: 25px;
 }
 .journal-list
  {
    font-size: 23px;
}
.journal-section h2 {
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    .journal-container {
            padding: 20px 20px 20px 20px;
        }
          .journal-section p {
              font-size: 23px;
          }
    
          .journal-list {
              font-size: 20px;
          }
    
          .journal-section h2 {
              font-size: 25px;
          }
} 

@media screen and (max-width : 460px) {
    .journal-container {
            padding: 20px 20px 20px 20px;
        }
    
        .journal-section p {
            font-size: 20px;
        }
    
        .journal-list {
            font-size: 18px;
        }
    
        .journal-section h2 {
            font-size: 23px;
        }
}