.container-announcement{
    margin: 10px 100px 100px 100px;
}
.announcement-list{
  font-size: 20px;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .container-announcement{
    margin: 50px 50px 50px 50px;
    text-align: justify;
  }
}

.heading-class{
  text-align: center;
  font-weight: bold;
  font-size: 2.4rem;
  margin-top: 30px;
}

@media (max-width: 480px) {
    .container-announcement {
        margin: 2px;
        padding: 30px;
        text-align: justify;
        font-size: 20px;
    }
}