
.volumes-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Full viewport height */
}
.special-tag {
    color: white;
    background-color: #f39c12;
    padding: 2px 6px;
    font-size: 0.8em;
    border-radius: 4px;
    margin-top: 5px;
}